- pd.read_html: returns a list of dataframes, one dataframe for each html table on the page

In [1]:
import requests
import pandas as pd
df_list = pd.read_html('https://www.x-rates.com/table/?from=USD&amount=1')
#df_list = pd.read_html("https://eresearch.fidelity.com/eresearch/goto/markets_sectors/landing.jhtml",flavor="bs4")
print(len(df_list))

2

- web.DataReader
- https://pandas-datareader.readthedocs.io/en/latest/readers/yahoo.html

In [13]:
from pandas_datareader import data as web
import yfinance as yf
import datetime
start=datetime.datetime(2023, 1, 1)
end=datetime.datetime.today()
df = web.DataReader('IBM', start, end)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03 00:00:00-05:00,141.100006,141.899994,140.479996,141.550003,141.550003,3338600
2023-01-04 00:00:00-05:00,142.070007,143.619995,141.369995,142.600006,142.600006,3869200
2023-01-05 00:00:00-05:00,142.440002,142.500000,140.009995,141.110001,141.110001,2866600
2023-01-06 00:00:00-05:00,142.380005,144.250000,141.580002,143.699997,143.699997,3573600
2023-01-09 00:00:00-05:00,144.080002,145.470001,143.399994,143.550003,143.550003,3987700
2023-01-10 00:00:00-05:00,143.610001,144.850006,142.899994,144.800003,144.800003,2152100
2023-01-11 00:00:00-05:00,145.000000,145.529999,143.449997,145.259995,145.259995,3268700
2023-01-12 00:00:00-05:00,144.880005,146.660004,144.520004,145.550003,145.550003,2715900
2023-01-13 00:00:00-05:00,144.059998,146.100006,144.009995,145.889999,145.889999,2455700

- yfinance
- https://pypi.org/project/yfinance/

In [14]:
df_msft = yf.download('MSFT', start = '2023-01-01', end='2023-01-15')
df_msft

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03 00:00:00-05:00,243.080002,245.750000,237.399994,239.580002,239.580002,25740000
2023-01-04 00:00:00-05:00,232.279999,232.869995,225.960007,229.100006,229.100006,50623400
2023-01-05 00:00:00-05:00,227.199997,227.550003,221.759995,222.309998,222.309998,39585600
2023-01-06 00:00:00-05:00,223.000000,225.759995,219.350006,224.929993,224.929993,43597700
2023-01-09 00:00:00-05:00,226.449997,231.240005,226.410004,227.119995,227.119995,27369800
2023-01-10 00:00:00-05:00,227.759995,231.309998,227.330002,228.850006,228.850006,27033900
2023-01-11 00:00:00-05:00,231.289993,235.949997,231.110001,235.770004,235.770004,28669300
2023-01-12 00:00:00-05:00,235.259995,239.899994,233.559998,238.509995,238.509995,27269500
2023-01-13 00:00:00-05:00,237.000000,239.369995,234.919998,239.229996,239.229996,21317700